// --------- Varies ----------
$font: "Sans Serif";
$main: #1c1c1c;

// ------- Global-Tags --------
html {
    box-sizing: border-box;
    overflow-x: hidden;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    font-family: $font;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: $main;
    min-width: 320px;
    position: relative;
    overflow-x: hidden;
}
a {
    text-decoration: none;
    display: inline-block;
    color: $main;
}
button {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    padding: 0;
    font-family: inherit;
}
input {
    background-color: transparent;
    border: none;
    outline: none;
    font-family: inherit;
}
textarea {
    resize: none;
    font-family: inherit;
    border: none;
    background-color: transparent;
    outline: none;
}
section {
    position: relative;
}


// --------- Global-Classes ----------
.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
.wrapper {
    position: relative;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(#000, 0.3);
        z-index: 0;
    }
}


// --------- ScrollBar ----------
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background-color: #fff;
}
::-webkit-scrollbar-track {
    background-color: #1c1c1c;
}
